
@media screen and (max-width: 600px) {
      .about-container {
         grid-template-columns: 1fr;
         .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
         }
         .left-about {
               padding-right: 0;
               p {
                  padding-left: 0;
               }
         }
      }
      .timeline {
            grid-template-columns: 1fr;
            padding-bottom: 6rem;
      }
      
      .portfolios {
         grid-template-columns: 1fr;
         padding-bottom: 6rem;
      }
      .blogs {
         grid-template-columns: 1fr;
         padding-bottom: 6rem;
      }
      .contact-content-con {
         flex-direction: column;
         .right-contact {
               margin-left: 0;
               margin-top: 2.5rem;
         }
      }
      .contact-content-con .right-contact .inp-con-2 {
         flex-direction: column;
      }
      .contact-content-con .right-contact .inp-con-2 :last-of-type {
         margin-top: 1.5rem;
         margin-left: 0;
      }

      .section {
            padding: 2rem 2.5rem !important;
      }
      
      .main-title {
         h2 {
            font-size: 2rem;
            span {
               font-size: 2.5rem;
            }
            .bg-text {
               font-size: 3.3rem;
            }
         }
      }

      
}

@media screen and (max-width: 700px) {
         .section {
               padding: 7rem 3rem;
         }
         .about-stats {
            .progress-bars {
                        grid-template-columns: 1fr;
            }
         }
         .main-title {
            h2 {
               font-size: 3rem;
            }
         }
}

@media screen and (max-width: 950px) {
         header {
               padding: 0;
            }
         
            header .right-header {
               padding: 0 !important;
            }
         
            .header-content {
               grid-template-columns: 1fr;
               padding-bottom: 4rem;
            }
         
            .left-header {
               .h-shape {
                  display: none;
               }
            }
         
            .right-header {
               grid-row: 1;
               width: 90%;
               margin: 0 auto;
         
               .name {
                  font-size: 2.5rem !important;
               }
            }
         
            .header-content .left-header .image {
               margin: 0 auto;
               width: 90%;
            }
         
            .theme-btn {
               width: 50px;
               height: 50px;
            }

         .section {
             padding: 7rem 6rem;
         }
         .controls {
                     top: auto;
                     bottom: 0;
                     flex-direction: row;
                     justify-content: center;
                     left: 50%;
                     transform: translateX(-50%);
                     width: 100%;
                     background-color: var(--color-grey-5);
         
                     .control {
                        margin: 0.5rem 1.5rem ;
                     }
         }
}

@media screen and (max-width: 1070px) {
      .main-title {
            h2 {
               font-size: 4rem !important;
            }
      
            span {
               font-size: 4rem !important;
            }
      
            .bg-text {
               font-size: 4.5rem !important;
            }
      }
      .about-container {
         grid-template-columns: 1fr;
         .right-about {
            padding-top: 2.5rem;
         }
      }
      .portfolios {
          grid-template-columns: 1fr 1fr;
      }
      .blogs {
          grid-template-columns: 1fr 1fr;
      }
     
}

@media screen and (max-width: 1432px) {
      .header {
         padding: 0 !important;
      }
      .section {
         padding: 7rem 11rem;
      }

      .contact-content-con {
            flex-direction: column;
      
            .right-contact {
               margin-left: 0;
               margin-top: 2.5rem;
            }
         }
      
         .contact-content-con .right-contact .inp-con-2 {
            flex-direction: column;
         }
      
         .contact-content-con .right-contact .inp-con-2 :last-of-type {
            margin-top: 1.5rem;
            margin-left: 0;
         }
      
}

