 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
}
:root {
 --color-primary: #191d2b;
 --color-secondary: #27AE60;
 --color-white: #FFFFFF;
 --color-black: ;
 --color-grey: #f8f8f8;
 --color-grey-1: #dbe1e8;
 --color-grey-2: #b2becd;
 --color-grey-3: #6c7983;
 --color-grey-4: #454e56;
 --color-grey-5: #2a2e35;
 --color-grey-6: #12181b;
 --br-sm-2: 14px;
 --ease-in-out: all 0.4s ease-in-out;
 --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
 background-color: var(--color-primary);
 font-family: 'Poppins', sans-serif;
 font-size: 1.1rem;
 color: var(--color-white);
 transition: var(--ease-in-out);
}

a {
 display: inline-block;
 text-decoration: none;
 color: inherit;
 font-family: inherit;
}

header {
 height: 100vh;
 color: var(--color-white);
 overflow: hidden;
}
section {
 min-height: 100vh;
 width: 100%;
 position: absolute;
 left: 0;
 right: 0;
 padding: 3rem 18rem;
} 

.section {
 transform: translateY(-100%) scale(0);
 transition: var(--ease-in-out);
 background-color: var(--color-primary);
}

.sec1 {
 display: none;
 transform: translateY(0) scale(1);
}
.sec2 {
 display: none;
 transform: translateY(0) scale(1);
}
.sec3 {
 display: none;
 transform: translateY(0) scale(1);
}
.sec4 {
 display: none;
 transform: translateY(0) scale(1);
}
.sec5 {
 display: none;
 transform: translateY(0) scale(1);
}

.active {
  display: block; 
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
     0% {
          transform: translateY(-100%) scaleY(0)
        }

     100% {
          transform: translateY(0) scaleY(1)
          }
  }
}

// styling controls
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
    .active-btn {
      background-color: var(--color-secondary) !important;
      transition: var(--ease-in-out);
      i {
          color: var(--color-white) !important;
      } 
    }
    .control {
      width: 55px;
      height: 55px;
      padding: 1rem;
      cursor: pointer;
      background-color: var(--color-grey-4);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin: 0.7rem 0;
      box-shadow: var(--box-shadow-1);
      i {
        font-size: 1.2rem;
        color: var(--color-grey-2);
        pointer-events: none;
        }
     }
}

/* styling header-content */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .left-header {
    display: flex;
    align-items: center;
    position: relative;
    .h-shape {
      transition: var(--ease-in-out);
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 55% 0, 87% 100%, 0% 100%);
    }
    .image {
      width: 70%;
      height: 90%;
      margin: 4rem;
      transition: var(--ease-in-out);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--ease-in-out);
        filter: grayscale(100%);
        border-radius: 14px;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    .name {
      font-size: 3rem;
      span {
        color: var(--color-secondary);
      }
    }
    p {
        margin: 1.5rem 0;
        line-height: 2rem;
    }
  }
}

/* independed btn components */
.btn-con {
  display: flex;
  align-self: flex-start;
}
.main-btn {
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-radius: 30px;
  border: 1px solid var(--color-secondary);
  color: inherit;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 4s ease-out;
    z-index: -1;
  }
  &:hover {
    &::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0);
      transition: all 4s ease-out;
    }
  }
}